.about-padding {
    padding-top: 80px;
}

.title {
    display: flex;
    padding: 20px;
    height: 400px;
    width: 100%;
    background-image: url('../assets/aboutpage/about-banner.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 40px;
}

.first-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 610px;
    background: url('../assets/aboutpage/bg-about-2.png');
    background-size: cover;
    padding-left: 10px;
    margin: 10px;
}

.para-box {
    overflow: scroll;
    height: 20vh;
    width: 50vh;
    padding: 30px;
}

.para-box p {
    font-size: 18px;
}

.person-img-box {
    height: 500px;
    width: 350px;
}

.second-box {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 610px;
    background-image: url('../assets/aboutpage/bg-about-1.png');
    background-size: cover;
    padding: 10%;
    margin: 10px;
}

.para-box-2 {
    overflow: scroll;
    height: 400px;
    width: 750px;
    padding: 20px;
}

.para-box-2 .our-goals {
    font-size: 40px;
    font-weight: bolder;
}

.para-box-2 p {
    font-size: 18px;
}



@media screen and (max-width: 650px) {

    .title {
        display: flex;
        padding: 20px;
        height: 400px;
        width: 100%;
        background-image: url('../assets/aboutpage/about-banner.jpg');
        background-size: cover;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 25px;
        text-align: center;
    }
    
    .first-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        padding: 1.2rem;
    }

    .para-box {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        height: 40vh;
        width: 100%;
        background-color: white;
        margin: 10px;
        padding: 30px;
    }

    .person-img-box {
        height: 25%;
        width: 100%;
    }

    .about-padding {
        padding-top: 55px;
    }
}