.comf-and-cont-banner {
  background-image: url('../assets/comf&cont/comf-and-cont.png'); 
  background-size: cover;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-element {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards; /* Apply the animation */
}

.bg-4 {
  background-image: url('../assets/comf&cont/smart-home-system.png'); 
  background-size: cover;
}

.bg-5 {
  background-image: url('../assets/comf&cont/whole-home-auto-video-system.png'); 
  background-size: cover;
}

.bg-6 {
  background-image: url('../assets/comf&cont/smart-shades-and-drapes.png'); 
  background-size: cover;
}

.bg-7 {
  background-image: url('../assets/comf&cont/smart-thermostat.png'); 
  background-size: cover;
}

.bg-8 {
  background-image: url('../assets/comf&cont/access-control.png'); 
  background-size: cover;
}

.bg-9 {
  background-image: url('../assets/comf&cont/pool-control.png'); 
  background-size: cover;
}

.bg-10 {
  background-image: url('../assets/comf&cont/smart-lighting.png'); 
  background-size: cover;
}

.bg-11 {
  background-image: url('../assets/comf&cont/networkig0and0wifi.png'); 
  background-size: cover;
}