.contact-box-and-form {
    background-image: url(../assets/contact-page/background-house.png);
    background-size: cover;
}

.container {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    margin: 10px;
}

.contact h1 {
    font-size: 60px;
    font-weight: bold;
}

.contact-info {
    font-size: 20px;
}

.email {
    display: flex;
    gap: 1rem;
}

.email-icon { /* the CSS below is just placeholder till we use actual images */
    width: 30px;
    height: 30px;
    background-color: black;
}

.email p {
    font-weight: bold;
}

.phone {
    display: flex;
    gap: 1rem;
}

.phone-icon { /* the CSS below is just placeholder till we use actual images */
    width: 30px;
    height: 30px;
    background-color: black;
}

.phone p {
    font-weight: bold;
}


/* gael css */
.contact-box {
    height: 100vh;
}

.bg-contact-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 639px) {
    .contact {
        height: 30vh;
    }
    .contact h1 {
        font-size: 40px;
        font-weight: bold;
    }
    
    .contact-info {
        font-size: 20px;
    }
}