.bg-clouds {
  background-image: url('../assets/downtown.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-house {
  background-image: url('../assets/modern-house.png');
  background-size: cover;
  background-repeat: no-repeat;
}

  /* carousel */

  .carousel-wrapper{
    position: relative;
  }

  .arrow {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: black;
  }

  .right-prev {
    left: 0;
    transform: translateX(50%, -50%);
    z-index: 1;
  }

  .left-next {
    right: 0;
    transform: translateX(-50%, 50%);
    z-index: 2;
  }