/* The initial state of the container */
.services-container {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}


/* Add this class for the fade-in effect */

/* @keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-in-out-element {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  cursor: pointer;
} */

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(40px);
  }
}

.fade-in-out-element {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  cursor: pointer;
}

.fade-out {
  animation: fade-out 1s ease-in-out forwards;
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}
